.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.google-style-btn {
  background: none rgb(255, 255, 255);
  border: 0px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
  top: 0px;
  right: 0px;
}

.pulse-container {
  position: relative;
  width: 30px; /* ドットの幅 */
  height: 30px; /* ドットの高さ */
}

.pulse-dot {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pulse-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #4285f4; /* 青色のリング */
  border-radius: 50%; /* 丸形 */
  animation: pulse-ring-animation 2s infinite ease-out; /* アニメーション */
  transform: translate(-5%, -5%); /* 左上にずらす調整 */
}

@keyframes pulse-ring-animation {
  0% {
    transform: scale(1) translate(-5%, -5%); /* 左上にずらす */
    opacity: 1;
  }
  100% {
    transform: scale(4) translate(-2%, -2%); /* スケール時もずらす */
    opacity: 0;
  }
}
